@font-face {
  font-family: "Raleway";
  src: url("./../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("./../fonts/raleway/Raleway-Light.ttf");
}

*{
  font-family: "Raleway";
}

#contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 5px solid green; */
  min-height: 100vh;
}
