:root{
  --reservation-button-text-color: #C6C3C2;
  --reservation-button-hover-color: #ebeaea;
  --video-overlay-color: rgba(0, 0, 0, 0.20);
  --lukes-color: #E35627;
}

/* #videoBackground{
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: -99;
  max-height: 100vh;
  overflow: hidden;
}

#videoBackground iframe{
  z-index: -98;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 975px;
  pointer-events: none;
} */

#videoBackground {
  z-index: -99;
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#videoBackground iframe {
  z-index: -98;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  #videoBackground iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBackground iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

#videoOverlay {
  z-index: -97;
  /* border: 5px solid purple; */
  height: 100%; 
  width: 100%;
  background-color: var(--video-overlay-color);
}

.pageContent {
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  height: 600px; 
  width: 600px;
}

#mainPageLogoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#mainPageLogoContainer > img {
  width: 75%;
}

#reservationButton{
  border: 2px solid var(--reservation-button-text-color);
  width: 14rem;
  height: 2.5rem;
  background: none;
  color: var(--reservation-button-text-color);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 250ms, border-color 250ms, color 250ms;
}

#reservationButton:hover{
  background-color: var(--reservation-button-hover-color);
  border-color: var(--reservation-button-hover-color);
  color: #000;
}